@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Estedad/ttf/Estedad-Thin.ttf"),
    url("../fonts/Estedad/woff2/Estedad-Thin.woff2");
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Estedad/ttf/Estedad-ExtraLight.ttf"),
    url("../fonts/Estedad/woff2/Estedad-ExtraLight.woff2");
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Estedad/ttf/Estedad-Light.ttf"),
    url("../fonts/Estedad/woff2/Estedad-Light.woff2");
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Estedad/ttf/Estedad-Regular.ttf"),
    url("../fonts/Estedad/woff2/Estedad-Regular.woff2");
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Estedad/ttf/Estedad-Medium.ttf"),
    url("../fonts/Estedad/woff2/Estedad-Medium.woff2");
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Estedad/ttf/Estedad-SemiBold.ttf"),
    url("../fonts/Estedad/woff2/Estedad-SemiBold.woff2");
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Estedad/ttf/Estedad-Bold.ttf"),
    url("../fonts/Estedad/woff2/Estedad-Bold.woff2");
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Estedad/ttf/Estedad-ExtraBold.ttf"),
    url("../fonts/Estedad/woff2/Estedad-ExtraBold.woff2");
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Estedad/ttf/Estedad-Black.ttf"),
    url("../fonts/Estedad/woff2/Estedad-Black.woff2");
}

//
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}
